.Rproj.user
.Rhistory
.RData
.venv/
README.html
src/.cargo
src/Makevars
src/Makevars.win
src/vendor
src/rust/vendor
src/rust/target
src/rust/Cargo.lock
*.tar.gz
*.tgz
*.Rcheck
.webr-local-artifacts/
webr-local-site/
webr-repo/
